.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

.main {
  flex-grow: 1;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-family: "Simplon Norm";
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 0.5rem;
  text-align: center;
  color: #000000;
}

.Paratitle {
  font-family: "Simplon Norm";
  font-size: 22px;
  margin-top: 0;
  text-align: center;
  color: #000000;
}

.fill {
  margin: 10px;
  width: 300px; /* Set width for the filters section */
  transition: visibility 0.3s, opacity 0.3s, transform 0.3s ease; /* Smooth transition for hiding */
}

.fill.hidden {
  visibility: hidden; /* Hide the filters */
  opacity: 0; /* Make them invisible */
}

.content {
  display: flex;
  flex-direction: column;
}

.filtered {
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .title {
    font-size: 48px;
  }

  .Paratitle {
    font-size: 24px;
  }

  .fill {
    margin: 20px;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 36px;
  }

  .Paratitle {
    font-size: 20px;
  }

  .fill {
    width: 100%; /* Take full width on smaller screens */
    margin: 10px 0; /* Adjust the margin */
  }
}
